<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BLACKHOLE</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <h1>Welcome to BlackHole</h1>
        {% if g.user %}
            <p>User Id: {{ g.user}}
                <a href="{{ url_for('logout') }}">Logout</a>
            </p>
        {% else %}
            <a href="{{ url_for('signup') }}"><button>Sign Up</button></a>
            <a href="{{ url_for('login') }}"><button>Log In</button></a>
        {% endif %}
        <p>
            <a href="{{ url_for('blackhole') }}"><button>PLAY</button></a>
            <a href="{{ url_for('scoreboard') }}"><button>Leaderboards</button></a>
            <a href="{{ url_for('howToPlay') }}"><button>How To Play</button></a>
        </p>
    </body>
</html>